<div class="w-auto mx-auto" *ngIf="service.item$ | async as category">
  <div class="bg-black text-white text-3xl p-3">The Learning Center</div>
  <div class="relative h-80">
    <app-category-header class="flex flex-col h-80" [item]="category">
      <div
        class="
          flex flex-col
          mt-4
          text-white
          top-1/3
          left-2/4
          md:left-2/3
          text-xs
          lg:text-md
        "
      >
        <p>
          Please browse the course list below to assist with your daily
          functions
        </p>
      </div>
    </app-category-header>
  </div>

  <!-- <div>
    <div class="text-2xl font-bold py-4">Featured Courses</div>
    <div class="w-full bg-white flex flex-row grow-0 mt-4 flex-wrap">
      <app-course-card
        *ngFor="let course of findFeatured(category.courses)"
        [course]="course"
      ></app-course-card>
    </div>
  </div> -->

<div class="w-auto mx-auto">
  <div class="bg-black text-white text-3xl p-3">Featured Courses</div>
  <carousel
    [infinite]="true"
    [auto]="false"
    [bullets]="false"
    >
    <!-- (page)="setPage($event)" -->
    <ng-container *ngFor="let item of items">
      <div *carouselSlide>
        <app-course-card
          *ngFor="let course of findFeatured(category.courses)"
          [course]="course"
        ></app-course-card>
      </div>
    </ng-container>
  </carousel>
</div>


  <div>
    <div class="text-2xl font-bold py-4">Courses By Subject</div>
    <div class="w-full bg-white flex flex-row grow-0 mt-4 flex-wrap">
      <app-course-card
        *ngFor="let course of findNonFeatured(category.courses)"
        [course]="course"
      ></app-course-card>
    </div>
  </div>
</div>
