<div class="w-full" *ngIf="service.item$ | async as category">
  <!-- {{ category.courses | json }} -->
  <!-- <div class="bg-black text-white text-3xl p-3">The Learning Center</div> -->
  <div class="relative h-80">
    <app-category-header class="flex flex-col h-80" [item]="category">
      <div
        class="
          flex flex-col
          mt-4
          text-white
          top-1/3
          left-2/4
          md:left-2/3
          text-xs
          lg:text-md
        "
      >
        <p>
          Please browse the course list below to assist with your daily
          functions
        </p>
      </div>
    </app-category-header>
  </div>

  <app-course-carousel
    title="Featured Courses"
    [courses]="findFeatured(category.courses, true)"
  ></app-course-carousel>

  <app-course-carousel
    title="Courses By Subject"
    [courses]="findFeatured(category.courses, false)"
  ></app-course-carousel>
</div>
