<div class="items-center">
  <button
    class="
      p-0
      h-8
      w-8
      text-base text-white
      cursor-pointer
      opacity-80
      transition-opacity
    "
    (click)="togglePlay()"
  >
    <svg *ngIf="playing" viewBox="0 0 24 24">
      <path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
    </svg>

    <svg *ngIf="!playing" viewBox="0 0 24 24">
      <path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
    </svg>
  </button>
</div>
