<h1>Playlists Build</h1>

<!-- <pre>{{ available | json }}</pre> -->
<!-- <pre>{{ selected | json }}</pre> -->

<div class="col-md-4">
  <div class="drag-container">
    <div class="section-heading">Available Items</div>

    <div
      cdkDropList
      #availableList="cdkDropList"
      [cdkDropListData]="available"
      class="item-list"
      [cdkDropListConnectedTo]="[selectedList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="item-box" *ngFor="let item of available" cdkDrag>
        {{ item.name }}
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="drag-container">
    <div class="section-heading">Selected Items</div>

    <div
      cdkDropList
      #selectedList="cdkDropList"
      [cdkDropListData]="selected"
      class="item-list"
      [cdkDropListConnectedTo]="[availableList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="item-box" *ngFor="let item of selected" cdkDrag>
        {{ item.name }}
      </div>
    </div>
  </div>
</div>
