<div
  *ngIf="enabled"
  class="
    carousel__slider
    absolute
    top-0
    bottom-0
    left-0
    z-10
    px-3.5
    flex
    items-center
  "
>
  <button
    (click)="previousSlide.emit($event)"
    class="
      cursor-pointer
      border-none
      text-app-accent
      bg-transparent
      w-8
      h-8
      p-0
    "
  >
    <svg viewBox="0 0 20 20">
      <polyline
        points="12 2, 7 10, 12 18"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        fill="transparent"
        stroke-linejoin="round"
      ></polyline>
    </svg>
  </button>
</div>
