<div
  class="
    align-center
    justify-items
    w-full
    relative
    flex
    justify-center
    mx-auto
    group
  "
>
  <!-- aspect-video -->
  <!-- controls -->
  <app-video-controls
    class="w-full"
    [controls]="controls"
    (changeControls)="changeControls($event)"
  ></app-video-controls>
  <video
    autoplay="item?.autoplay"
    muted
    class="w-full z-10"
    [src]="item?.source?.url"
    (ended)="onVideoEnded()"
    #video
  ></video>
  <!-- <div>
    Playing Video {{ item.source.seq }} of
    {{ item.playlistItem.sources.length }}
  </div> -->
</div>
