<mat-menu #Submenuitem="matMenu" [overlapTrigger]="false">
  <div *ngFor="let submenu of SubMenuItems" >
    <span *ngIf="submenu.items && submenu.items.length > 0" >
      <button  mat-menu-item  [matMenuTriggerFor]="secondsubmenu.Submenuitem">
        <!-- <span>{{submenu.text}}</span> -->

        <a
          [routerLink]="[submenu.link]"
          class="
            block
            px-4
            py-2
            whitespace-nowrap
            hover:bg-gray-100 hover:cursor-pointer
          "
          >{{ submenu.text }}</a>

      </button>
      <app-submenu-items  (SelectedMenu)="clickeventhandler($event)"  #secondsubmenu [SubMenuItems]="submenu.items" ></app-submenu-items>
    </span>
    <span *ngIf="!submenu.items || submenu.items.length === 0" >
      <button  mat-menu-item  (click)="clickeventhandler(submenu)">
        <!-- <span>{{submenu.text}}</span> -->

        <a
          [routerLink]="[submenu.link]"
          class="
            block
            px-4
            py-2
            whitespace-nowrap
            hover:bg-gray-100 hover:cursor-pointer
          "
          >{{ submenu.text }}</a>

      </button>
    </span>
  </div>
</mat-menu>
