<mat-menu #Submenuitem="matMenu" [overlapTrigger]="false">
  <span *ngFor="let item of SubMenuItems">
    <span *ngIf="item.items && item.items.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="submenu.Submenuitem">
        <span>{{ item.text }}</span>
        <mat-icon>expand_more</mat-icon>
      </button>
      <app-submenu-items
        #submenu
        (SelectedMenu)="clickeventhandler($event)"
        [SubMenuItems]="item.items"
      ></app-submenu-items>
    </span>
    <span *ngIf="!item.items || item.items.length === 0">
      <button mat-menu-item [routerLink]="[item.link]">
        <span>{{ item.text }}</span>
      </button>
    </span>
  </span>
</mat-menu>
