<div
  #timeline
  class="timeline-container flex items-center h-2 cursor-pointer mx-2"
  (mousemove)="setEvent($event)"
  (mousedown)="mouseDown($event)"
>
  <div
    class="
      timeline
      relative
      bg-[#646464]
      h-1
      w-full
      before:absolute
      before:left-0
      before:top-0;
      before:bottom-0
      before:bg-[#969696]
      before:hidden
      after:absolute after:left-0 after:top-0 after:bottom-0 after:bg-red-700
    "
    ngClass="{{ beforeRightSide }} {{ afterRightSide }}"
  >
    <!-- before:right
      right:
      calc(100%
      -
      var(--preview-position)
      *
      100%);
    " -->
    <img class="preview-img" />
    <div class="thumb-indicator"></div>
  </div>
</div>
