<!-- <img
  *ngIf="isScrubbing && duration.images.length > 0 && previewImgNumber > -1"
  class="thumbnail-img"
  [src]="
    domSanitizer.bypassSecurityTrustResourceUrl(
      duration.images[previewImgNumber]
    )
  "
  [ngClass]="{ scrubbing: isScrubbing }"
/> -->
<div
  #container
  class="timeline-container"
  [ngClass]="{ scrubbing: isScrubbing }"
>
  <div
    class="timeline"
    [style.--preview-position]="previewPosition"
    [style.--progress-position]="duration.percent"
  >
    <img
      class="preview-img"
      *ngIf="images.length > 0 && previewImgNumber > -1"
      [src]="domSanitizer.bypassSecurityTrustResourceUrl(images[previewImgNumber])"
      [style.--preview-position]="previewPosition"
    />
    <!-- [style.display]="isScrubbing ? 'block' : 'none'" -->

    <div
      class="thumb-indicator"
      [style.--progress-position]="duration.percent"
    ></div>
  </div>
</div>
