// https://github.com/WebDevSimplified/youtube-video-player-clone/blob/main/styles.css
// https://www.youtube.com/watch?v=ZeNyjnneq_w
.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;

  .timeline {
    background-color: rgba(100, 100, 100, 0.5);
    height: 3px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--preview-position) * 100%);
      background-color: rgb(150, 150, 150);
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--progress-position) * 100%);
      background-color: red;
    }

    & .preview-img {
      position: absolute;
      height: 80px;
      aspect-ratio: 16 / 9;
      top: -1rem;
      transform: translate(-50%, -100%);
      left: calc(var(--preview-position) * 100%);
      border-radius: 0.25rem;
      border: 2px solid white;
      display: none;
    }

    & .thumb-indicator {
      --scale: 0;
      position: absolute;
      transform: translateX(-50%) scale(var(--scale));
      height: 200%;
      top: -50%;
      left: calc(var(--progress-position) * 100%);
      background-color: red;
      border-radius: 50%;
      transition: transform 150ms ease-in-out;
      aspect-ratio: 1 / 1;
    }
  }

  &.scrubbing,
  &:hover {
    .timeline {
      height: 100%;

      &::before {
        display: block;
      }

      .preview-img {
        display: block;
      }

      .thumb-indicator {
        --scale: 1;
      }
    }
  }
}
