<div (click)="service.setPlaylistItemId(source?.seq)">
  <div class="flow-root justify-center items-center py-2">
    <div class="float-left pl-2">
      <span class="flex flex-row justify-center items-center">
        <app-watched
          class="text-app-accent"
          *ngIf="watched$ | async"
        ></app-watched>
        <app-play
          class="text-app-accent"
          *ngIf="!(watched$ | async)"
        ></app-play>
        <span class="text-xs">{{ source.name }}</span>
      </span>
    </div>
    <div class="float-right pr-2">
      <span class="text-xs">
        {{ source.duration * 1000 | date: 'HH:mm:ss':'UTC' }}
      </span>
    </div>
  </div>
</div>
<hr />
