<div class="items-center">
  <button
    class="theater-btn p-0 h-8 w-8 text-base text-white cursor-pointer"
    (click)="changeMode()"
  >
    <svg *ngIf="!theaterMode" class="tall" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"
      />
    </svg>
    <svg *ngIf="theaterMode" class="wide" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"
      />
    </svg>
  </button>
</div>
