<ng-container *ngIf="!(titlebarService.skipHeader$ | async)">
  <div class="h-full flex flex-col">
    <div class="top-0 mt-1 w-full">
      <app-top-nav></app-top-nav>
    </div>
    <div class="flex flex-col flex-grow px-6">
      <router-outlet class=""></router-outlet>
    </div>
    <div class="w-full pt-5">
      <app-bottom-nav></app-bottom-nav>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="titlebarService.skipHeader$ | async">
  <div class="h-full">
    <router-outlet></router-outlet>
  </div>
</ng-container>
