<app-top-nav class="top-0 mt-1 w-full"></app-top-nav>

<div class="relative" *ngIf="titlebarService.header$ | async; else noHeader">
  <div class="relative mt-3 flex h-8 flex-1 items-center bg-app-secondary">
    <div class="absolute left-0 ml-7 text-app-secondary">
      Team Learning Center
    </div>
    <div class="absolute right-0 mr-7 text-app-secondary">
      {{ titlebarService.title$ | async }}
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #noHeader>
  <router-outlet></router-outlet>
</ng-template>
