<ng-container *ngIf="!(titlebarService.skipHeader$ | async); else noHeader">
  <app-top-nav class="top-0 mt-1 w-full"></app-top-nav>

  <div class="relative">
    <div class="relative mt-3 flex h-8 flex-1 items-center bg-app-secondary">
      <div class="absolute left-0 ml-7 text-app-secondary">
        Team Learning Center
      </div>
      <div class="absolute right-0 mr-7 text-app-secondary">
        {{ titlebarService.title$ | async }}
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-template #noHeader>
  <router-outlet></router-outlet>
</ng-template>

<div class="relative bottom-0">
  <app-bottom-nav class="bottom-0 mb-0 w-auto"></app-bottom-nav>
</div>