<nav
  class="top-0 mt-1 w-full"
  *ngIf="menu.mainMenuDropdown$ | async as menuItems"
>
  <div class="grid grid-cols-2 md:grid-cols-3 mx-6 items-center">
    <div
      class="col-span-1 cursor-pointer md:hidden md:cursor-none md:col-span-3"
    >
      <button
        class="
          inline-flex
          items-center
          justify-center
          p-2
          rounded-md
          hover:text-white hover:bg-gray-700
          focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white
        "
        [matMenuTriggerFor]="mainMenu"
        aria-controls="mobile-menu"
        aria-expanded="menuOpen"
      >
        <!-- (click)="menuOpen = !menuOpen" -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <mat-menu #mainMenu="matMenu">
        <span *ngFor="let item of menuItems">
          <span *ngIf="item.items && item.items.length > 0">
            <button mat-menu-item [matMenuTriggerFor]="submenu.Submenuitem">
              <span>{{ item.text }}</span>
            </button>
            <app-submenu-items
              #submenu
              (SelectedMenu)="clickeventhandler($event)"
              [items]="item.items"
            ></app-submenu-items>
          </span>

          <span *ngIf="!item.items || item.items.length === 0">
            <button mat-menu-item [routerLink]="[item.link]">
              <span>{{ item.text }}</span>
            </button>
          </span>
        </span>
      </mat-menu>
    </div>
    <div
      class="
        col-span-1
        hidden
        origin-left
        md:flex md:justify-items-center md:scale-[.3]
        lg:scale-[.5]
      "
    >
      <a [routerLink]="['/']">
        <app-brand class="w-full h-full"></app-brand>
      </a>
    </div>
    <div class="hidden md:flex md:items-center md:justify-center md:text-base">
      <app-menu-items-dropdown
        *ngFor="let item of menuItems"
        [menu]="item"
        text_color="text-app-base"
      ></app-menu-items-dropdown>
    </div>

    <div class="flex justify-end">
      <!-- [ngClass]="{ 'flex-auto justify-end': searchOpen }" -->
      <app-searchbar
        class="flex items-center justify-end scale-50 md:scale-75 lg:scale-100"
      ></app-searchbar>
      <app-bell-icon
        class="flex items-center justify-end scale-50 md:scale-75 lg:scale-100"
      ></app-bell-icon>
      <app-user-avatar
        [profile]="authenticatedUserService.item$ | async"
        class="flex items-center justify-end scale-50 md:scale-75 lg:scale-100"
      ></app-user-avatar>
    </div>
  </div>
</nav>
