<div
  class="
    absolute
    flex
    items-center
    justify-center
    w-full
    h-full
    top-0
    z-20
    opacity-0
    text-base text-neutral-400
    transition-opacity
    before:absolute
    before:top-0
    before:bg-gradient-to-b
    before:from-transparent
    before:to-transparent
    before:w-full
    before:aspect-[5/6]
    before:z-[-1]
    before:pointer-events-none
  "
  [ngClass]="{
    'opacity-100': PlayContentClicked || VolumeContentClicked
  }"
  (click)="playPause({ display: true, value: !controls.playing })"
>
  <div class="flex flex-col content-center">
    <button
      *ngIf="VolumeContentClicked"
      class="
        relative
        t-32
        z-0
        h-12
        w-12
        opacity-0
        transition-all
        ease-in
        origin-center
        duration-700
        z-30
        opacity-70
        rounded
        border-0
        bg-gray-600
        text-center
        font-bold
        text-base text-white
      "
      disabled
    >
      {{ controls.volume.volume * 100 }}%
    </button>
    <!-- z-0
    opacity-0 -->
    <ng-container
      *ngIf="PlayContentClicked || VolumeContentClicked"
      class="
        h-16
        w-16
        text-base text-white
        transition-all
        ease-in
        origin-center
        duration-500
        z-30
        opacity-100
      "
    >
      <!-- [ngClass]="{
        'z-30 opacity-100': PlayContentClicked || VolumeContentClicked
      }" -->
      <app-video-icon-play
        *ngIf="PlayContentClicked && controls.playing"
      ></app-video-icon-play>
      <app-video-icon-pause
        *ngIf="PlayContentClicked && !controls.playing"
      ></app-video-icon-pause>
      <app-video-icon-muted
        *ngIf="VolumeContentClicked && controls.volume.muted"
      ></app-video-icon-muted>
      <app-video-icon-volume
        *ngIf="VolumeContentClicked && !controls.volume.muted"
      ></app-video-icon-volume>
    </ng-container>
  </div>
</div>
<div
  class="
    video-controls-container
    absolute
    w-full
    bottom-0
    z-20
    opacity-0
    transition-opacity
    before:absolute
    before:bottom-0
    before:bg-gradient-to-t
    before:from-black/75
    before:to-transparent
    before:w-full
    before:aspect-[6/1]
    before:z-[-1]
    before:pointer-events-none
    hover:opacity-100 hover:text-white
  "
>
  <!-- class="" -->
  <app-video-timeline
    [duration]="controls.duration"
    [playing]="controls.playing"
    [images]="images"
    (clicked)="setDuration($event)"
    (playingChange)="playPause({ display: false, value: $event })"
  ></app-video-timeline>
  <div class="controls flex gap-2 items-center p-1 z-30">
    <app-video-play-pause
      [playing]="controls.playing"
      (clicked)="playPause($event)"
    ></app-video-play-pause>

    <app-video-volume
      [volume]="controls.volume"
      (clicked)="changeVolume($event)"
    ></app-video-volume>

    <app-video-duration
      [duration]="controls.duration"
      class="grow"
    ></app-video-duration>

    <app-video-captions
      [captions]="controls.captions"
      (clicked)="setCaptions($event)"
    ></app-video-captions>

    <app-video-speed
      [speed]="controls.speed"
      (clicked)="setSpeed($event)"
    ></app-video-speed>

    <app-video-screen
      [screen]="controls.screen"
      (clicked)="setScreen($event)"
    ></app-video-screen>
  </div>
</div>
