<div
  class="
    video-controls-container
    absolute
    w-full
    bottom-0
    z-20
    opacity-0
    transition-opacity
    ease-in-out
    before:absolute
    before:bottom-0
    before:bg-gradient-to-t
    before:from-black/75
    before:to-transparent
    before:w-full
    before:aspect-[6/1]
    before:z-[-1]
    before:pointer-events-none
    hover:opacity-100 hover:text-white
  "
>
  <!-- <div class="timeline-container">
        <div class="timeline">
          <img class="preview-img">
          <div class="thumb-indicator"></div>
        </div>
      </div> -->
  <div class="controls flex gap-2 items-center p-1 z-30">
    <!-- py-4 px-6  -->
    <app-video-play-pause
      [playing]="controls.playing"
      (clicked)="playPause($event)"
    ></app-video-play-pause>

    <app-video-volume
      [volume]="controls.volume"
      (clicked)="changeVolume($event)"
    ></app-video-volume>

    <app-video-duration
      [duration]="controls.duration"
      class="grow"
    ></app-video-duration>

    <app-video-captions
      [captions]="controls.captions"
      (clicked)="setCaptions($event)"
    ></app-video-captions>

    <app-video-speed
      [speed]="controls.speed"
      (clicked)="setSpeed($event)"
    ></app-video-speed>

    <!-- 
        <button class="speed-btn wide-btn">
          1x
        </button>
        <button class="mini-player-btn">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"/>
          </svg>
        </button>
        <button class="theater-btn">
          <svg class="tall" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"/>
          </svg>
          <svg class="wide" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"/>
          </svg>
        </button>
        <button class="full-screen-btn">
          <svg class="open" viewBox="0 0 24 24">
            <path fill="currentColor" d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
          </svg>
          <svg class="close" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
          </svg>
        </button> -->
  </div>
</div>
