<!-- begin card -->
<div
  class="flex flex-col overflow-hidden rounded-2xl bg-[#ece9e6] shadow h-max"
>
  <!-- begin card header -->
  <div class="card__header h-auto w-auto">
    <!-- width="600"
  height="400" -->
    <img
      [src]="domSanitizer.bypassSecurityTrustUrl(item.image)"
      alt="{{ item.title }} image"
      class="max-w-full inline object-contain overflow-clip"
    />
  </div>
  <!-- end card header -->

  <!-- begin card body -->
  <div class="flex p-4 flex-col gap-2 h-max">
    <!-- <app-chip *ngFor="let tag of item?.tags" [text]="tag.name"></app-chip> -->
    <h4 class="text-xl capitalize">{{ item.title }}</h4>
    <p>{{ item.content | truncate: 75 }}</p>
  </div>
  <!-- end card body -->

  <!-- begin card footer -->
  <div class="flex p-4 mt-auto relative bottom-0">
    <div class="flex gap-2">
      <app-user-avatar [profile]="item.author"></app-user-avatar>
      <div class="user__info">
        <h5>
          {{ item.author.firstName.toUpperCase().substring(0, 1) }}.{{
            item.author.lastName | titlecase
          }}
        </h5>
        <small class="text-[#666]">{{
          item.publishedAt | date: 'MMMM d, y':'-0400'
        }}</small>
      </div>
    </div>
  </div>
  <!-- end card footer -->
</div>
<!-- end card -->
