<div class="w-auto mx-auto">
  <div class="bg-black text-white text-3xl p-3">The Learning Center</div>
  <carousel
    [infinite]="true"
    [auto]="true"
    [bullets]="true"
    (page)="setPage($event)"
  >
    <ng-container *ngFor="let item of items">
      <div *carouselSlide>
        <app-category-header class="slide" [item]="item">
          <button
            class="
              w-2/3
              md:min-w-2/3
              mt-4
              p-3
              md:p-5
              bg-white
              text-black
              font-bold
              whitespace-nowrap
              text-xs
              lg:text-md
            "
            [routerLink]="['/course/category', item.id]"
          >
            <span> Learn More </span>
            <span class="hidden md:inline-block">></span>
          </button>
        </app-category-header>
      </div>
    </ng-container>
  </carousel>
</div>
